@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");

body {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-size: medium;
}
